language: python
python:
    - "2.7"
virtualenv:
    system_site_packages: true
before_install:
    - "sudo apt-get update -qq"
    - "sudo apt-get install -qq python-numpy python-scipy python-nose python-matplotlib ipython python-pyaudio libasound2 libasound2-plugins libasound-dev pulseaudio alsa-base python-cvxopt"
    - "sudo ldconfig"
    - "pip install spectrum"
    - "pip install pymf"
    - "export DISPLAY=:99.0"
    - "sh -e /etc/init.d/xvfb start"
install: 
    - "python setup.py build_ext --inplace"
script: 
    - "python setup.py test"
